apiVersion: v1
kind: Service
metadata:
  name: skilllink-service
spec:
  type: NodePort
  selector:
    app: skilllink-deployment
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080